<ion-header style="--background: #353E45 !important;">
  <ion-toolbar style="--background: #353E45 !important;">
    <ion-buttons slot="start" class="btn">
      <ion-menu-button style="color: #CDB585;"></ion-menu-button>
    </ion-buttons>
    <ion-title style="color: #CDB585;"> تواصل معنا</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
<img src="../../../assets/images/logo.png" class="logo">
<img src="../../../assets/images/title.png" class="logo2">
<ion-row class="row">
  <img src="../../../assets/images/whats.png" class="icon" (click)="openWhats()">
  <img src="../../../assets/images/rele.png" class="icon" (click)="openTele()">
  <a href="mailto:BorsatDaily@Gmail.com">
    <img src="../../../assets/images/gmail.png" class="icon">
  </a>
 
</ion-row>

</ion-content>
