<ion-header style="--background: #353E45 !important;">
  <ion-toolbar style="--background: #353E45 !important;">
    <ion-buttons slot="start" class="btn">
      <ion-menu-button style="color: #CDB585;"></ion-menu-button>
    </ion-buttons>
    <ion-title style="color: #CDB585;">قوائم الاسهم</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar showCancelButton="focus" class="serachbar" color=
  "dark" (ionChange)="onChange($event)" [hidden] = "isAdmin"></ion-searchbar>
<ion-list class="list">
<ion-item *ngFor="let cat of filltered; let i = index" lines="none" class="item">
<ion-label class="label">{{cat.name + '  ' + cat.code}}</ion-label>
<ion-icon name="trash" class="icon" slot="end" [hidden] = "!isAdmin" (click)="Delete(cat.id)"></ion-icon>
  <ion-icon name="create" class="icon2" slot="end" [hidden] = "!isAdmin" (click)="Edit(i)"></ion-icon>
  <ion-icon name="alert-circle" class="icon2" slot="end" [hidden] = "isAdmin"></ion-icon>
  <ion-icon name="star" class="icon2" slot="end" [hidden] = "isAdmin" (click)="AddToFavourit(i)"></ion-icon>
</ion-item>
</ion-list>
<ion-fab horizontal="start" vertical="bottom" slot="fixed" [hidden] = "!isAdmin">
  <ion-fab-button color="dark"  (click) ="AddNew()">
    <ion-icon name="add" style="color: #CDB585;"></ion-icon>
  </ion-fab-button>
  </ion-fab>
</ion-content>
