<ion-header style="--background: #353E45 !important;">
  <ion-toolbar style="--background: #353E45 !important;">
    <ion-buttons slot="start" class="btn">
      <ion-menu-button style="color: #CDB585;"></ion-menu-button>
    </ion-buttons>
    <ion-title style="color: #CDB585;">الاسهم المفضلة </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list class="list">
<ion-item *ngFor="let fav of favourits; let i = index" lines="none" class="item">
<ion-label class="label">{{fav.cat.name + '  ' + fav.cat.code}}</ion-label>
  <ion-icon name="heart-dislike" class="icon2" slot="end" (click)="DisLik(fav.id)"></ion-icon>
  <ion-icon name="eye" class="icon2" slot="end" (click)="Open(fav.cat.id)"></ion-icon>
</ion-item>
</ion-list>
<ion-fab horizontal="start" vertical="bottom" slot="fixed" >
  <ion-fab-button color="dark"  (click) ="AddNew()">
    <ion-icon name="star" style="color: #CDB585;"></ion-icon>
  </ion-fab-button>
  </ion-fab>
</ion-content>
