ion-content{
    --background: url('../../../assets/images/bg.png') no-repeat center center / cover;
}
.logo{
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    width: 120px;
    height: 100px;
    display: block;
    margin: auto;
}
.card{
    position: absolute;
    top: 180px;
    left: 0;
    right: 0;
    width: 90%;
    display: block;
    margin: auto;
    background-color: #353E45;
    padding-top: 30px;
    padding-bottom: 30px;
    opacity: .8;
    border-radius: 20px;

}
.label{
    color: #CDB585;
}
.input{
    color: #CDB585;
     background: #666B71;
    --background:#666B71;
    background-color: #666B71;
    width: 90%;
    display: block;
    margin: 15px auto;
    border-radius: 30px;
}
.btn{
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    display: block;
    margin: auto;
    width: 80px;
    height: 40px;
    border-radius: 40%;
    text-align: center;
    color: #CDB585;
    background: #8E8473;
   --background:#8E8473;
   background-color: #8E8473;
  font-weight: bold;
  padding-top: 10px;
  opacity: .8;
}
.spinner{
    color: gold;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow: none;
    --background: transparent;
  }
.label{
    color: #CDB585;
    font-size: 8pt;
    text-align: center;
    display: block;
    margin: 10px auto;
}
.serachbar{
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    width: 95%;
    margin: auto;
    z-index: 10;
    color: #CDB585;
  }