<ion-content>
  <ion-spinner name="lines" class="spinner" [hidden]="loaded"></ion-spinner>

<img src="../../../assets/images/logo.png" class="logo">
<ion-card class="card" [hidden]="!loaded">
    <ion-input class="input" type="mail"  [(ngModel)]="email" placeholder="Email" ></ion-input>
    <ion-input type="text"  [(ngModel)]="name" class="input" placeholder="Full Name" ></ion-input>
    <ion-input type="password"  [(ngModel)]="password"  placeholder="Password"  class="input"></ion-input>
    <ion-label class="label">Have an account ? <span style="text-decoration: underline;" (click)="GoToLgin()">Sign In Now</span></ion-label>
  </ion-card>
  <div class="btn" (click)="RegisterUser()">
    GO
  </div>
</ion-content>
